.bioImage {
    margin: auto;
    border-radius: 80%;
    width: 200px;
    height: 200px;
}

.grid-child {
    position: relative;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
}
